body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
}

header {
    grid-column: 2/3;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

    #search,
    #calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        fill:#8B8B8B;
        color: #8B8B8B;
        
        
    }

        svg {
            height: 36px;
        }

        h2 {
            font-size: 1rem;
        }

    

nav {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    background-color: #FCFAF8;
    width: 20rem;
    padding: 1rem 0 1rem 2rem;
}

    .profile {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

        .avatar-icon {
        
            height: 50px;
            width: auto;

            border: 2px solid orange;
            border-radius: 50%;
        }

    
main {
    display: flex;
    flex-direction: column;
    padding: 1rem;  
}

    #task-container {
        flex: 1;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(3, 1fr);

    }
    
        .task {
            background-color: #cfcfcf;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-bottom: 0.5rem;
            
      
        }

        .task div {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 2px rgb(238, 238, 238);
            padding-right: 1rem;
        }

        .task h1 {
            padding-left: 0px;
        }

        .task button {
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

        
        }

        .task p:first-of-type {
            flex-grow: 1;

        }

        .task * {
            padding-left: 1rem;
        }


ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: white;
}

